.App {
  text-align: center;
  max-width: 1080px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  border-bottom: 1px solid lightgray;
}
